/* 
  bV = board view
  sM = start menu
*/

// Board View Colors
$bVDarkBlue1: #11A2E0;
$bVMediumBlue1: #ACEAF8;
$bVLightBlue1: #D1F4FC;
$bVDarkBlue2: #37BEF7;
$bVMediumBlue2: #8BE8FD;
$bVLightBlue2: #E3F8FD;
$bVDarkBlue3: #62CDF8;
$bVMediumBlue3: #C1F4FF;
$bVLightBlue3: #EDFBFE;

// Start Menu Colors
$sMDarkBlue1: #11A2E0;
$sMDarkBlue2: #37BEF7;
$sMMediumBlue1: #94E5F9;
$sMMediumBlue2: #8BE8FD;
$sMLightBlue1: #E3F8FC;
